*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.header-main{
    width: 100%;
    height: 56rem;
    background: linear-gradient(90deg, rgba(31, 36, 44, 0.64) 32.85%, rgba(31, 36, 44, 0.00) 100%), url('images/car-cover.jpg'), lightgray 0px -119.659px / 100% 142.24% no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    width: 100%;
    padding: 0 5%;
    display: flex;
    padding-top: 26.25rem;
}

.head-button{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-con{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 58rem;
}


.header-con h1{
color: #FFF;
font-size: 5.9375rem;
font-style: normal;
font-weight:bolder;
line-height: 120%;
}

.header-con p{
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


#b-left{
border-radius: 0.375rem;
background: var(--primary-primary, #2272B4);
border: 0;
color: white;
display: flex;
padding: 1rem 2.625rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
}

#b-left:hover{
    scale: 1.05;
}

#b-right{
border-radius: 0.375rem;
border: 1px solid rgba(255, 255, 255, 0.60);
background: rgba(255, 255, 255, 0.10);
backdrop-filter: blur(12px);
display: flex;
padding: 1rem 2.625rem;
justify-content: center;
align-items: center;
gap: 0.625rem;

}

#b-right:hover{
    scale: 1.05;
}

#box-1{
    background: linear-gradient(0deg, rgba(31, 36, 44, 0.51) 32.85%, rgba(31, 36, 44, 0.00) 100%), url('images/sec-2-1.png'), lightgray 50% / cover no-repeat;
}

#box-2{
    background: linear-gradient(0deg, rgba(31, 36, 44, 0.51) 32.85%, rgba(31, 36, 44, 0.00) 100%), url('images/sec-2-2.png'), lightgray 50% / cover no-repeat;
}

#box-3{
    background: linear-gradient(0deg, rgba(31, 36, 44, 0.51) 32.85%, rgba(31, 36, 44, 0.00) 100%), url('images/sec-2-3.png'), lightgray 50% / cover no-repeat;
}

.sec-2-line-1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.sec-2-line-1 h2{
color: #070B0F;
text-align: center;
font-size: 3.5rem;
font-style: normal;
font-weight: 800;
line-height: 120%;
}

.sec-2-line-1 p{
color: #36393C;
text-align: center;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.sec-2{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 5rem 5%;
}

.sec-2-box{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box-con{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.box{
    max-width: 31rem;
    height: 38rem;
    display: flex;
    padding: 30.1875rem 1.5625rem 2rem 1.5rem;
}


.box h6{
color: #FFF;
font-size: 1.9375rem;
font-style: normal;
font-weight: 700;
line-height: 120%;
}

.box p{
color:#F0F1F2;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem;

}

.div-top{
width: 31.875rem;
height: 4.875rem;
border-radius: 0.3125rem 0.3125rem 0rem 0rem;
background:#FCFCFC;
}

.box-sec{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.box-sec h5{
color:#070B0F;
text-align: center;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 120%;
}

.box-sec p{
color:#36393C;
text-align: center;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem;
width: 24rem; 
}

.sec-3-1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sec-3-1 h2{
color:#070B0F;
text-align: center;
font-size: 3.5rem;
font-style: normal;
font-weight: 900;
line-height: 120%;
}

.sec-3-1 p{
color:#36393C;
text-align: center;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.sec-3{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.sec-3-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;
    padding: 0 5%;
}

.sec-3-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 32rem;
    height: 19rem;
    padding-bottom: 3rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sec-3-box:hover{
    box-shadow: rgba(37, 37, 37, 0.2) 0px 2px 8px 0px;
    scale: 1.025;
}

.sec-3-img{
    border: 3rem solid white;
    border-radius: 5rem;
    width: 4rem;
    height: 4rem;
    position: relative;
    top: -3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    background: white;

}



.div-top{
width: 31.875rem;
height: 4.875rem;
flex-shrink: 0;
border-radius: 0.3125rem 0.3125rem 0rem 0rem;
background: #fcfcfc;
}


.sec-4-1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sec-4-1 h2{
color: #FFF;
text-align: center;
font-size: 3.5rem;
font-style: normal;
font-weight: 800;
line-height: 120%;
}

.sec-4-1 p{
color: #F0F1F2;
text-align: center;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

 .sec-4-3{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
 }

 .sec-4-3 p{
color: #F0F1F2;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem;
width: 35rem;
 }

 .sec-4{
    width: 100%;
    padding: 6rem 5%;
    background: linear-gradient(56deg, #062339 5.34%, #092E4A 70.03%);
    height: 62rem;
    margin: 10rem 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
 }

 .sec-4-2{
    width: 100%;
    height: 62rem;
 }

 #img-3{
    position: relative;
    
 }

 #img-1{
    position: relative;
 }

 #img-2{
    position: relative;

 }


 #b-right-2{
 border-radius: 0.375rem;
 border: 1px solid rgba(255, 255, 255, 0.60);
 background: rgba(255, 255, 255, 0.10);
 backdrop-filter: blur(12px);
 display: flex;
 padding: 1rem 2.625rem;
 justify-content: center;
 align-items: center;
 gap: 0.625rem;
 color: white;
 
 }
 
 #b-right-2:hover{
     scale: 1.05;
 }

 .sec-5{
    display: flex;
    align-items:center ;
    justify-content: center;
 }

 .sec-5-con{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 34rem;
    padding: 0 5%;

 }

 .sec-5-con h6{
color:#070B0F;
font-size: 1.9375rem;
font-style: normal;
font-weight: 700;
line-height: 120%;
 }

 .sec-5-con p{
color:#070B0F;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.375rem;
display: flex;
align-items: center;
align-items: flex-start;
gap: 0.75rem ;
 }

 .sec-5-div{
border-radius: 0.5rem;
background: #F8FBFD;
width: 80%;
height: 45.5rem;
display: flex;
justify-content: center;
align-items: center;
gap: 3rem;

 }

 
 .sec-5-img img{
    width: 52rem;
    height: 31rem;
    border-radius: 0.375rem;

 }

 .sec-5-con button{
    width: 15rem;
    height: 3rem;
 }

 .sec-6{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding: 5rem 5% ;

 }

 .sec-6-1 h2{
color:  #070B0F;
text-align: center;
font-size: 3.5rem;
font-style: normal;
font-weight: 800;
line-height: 120%;
 }

 .sec-6-1 p{
color:  #36393C;
text-align: center;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
 }

 .sec-6-img{
    width: 23rem;
    height: 28rem;
    background: rgb(249, 249, 249);
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .sec-6-img img{
    width: 19rem;
    height: 20rem;
 }
 .sec-6-box{
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
 }

 .sec-6-box h5{
color: #070B0F;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: 120%; 
 }

 .sec-6-box p{
color: #36393C;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 25rem;
 }

 .sec-6-con{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 25rem;
 }

 .sec-6-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 #b-right-7{
border-radius: 0.375rem;
border: 1px solid rgba(255, 255, 255, 0.60);
background: #DAF0FE;
backdrop-filter: blur(12px);
display: flex;
padding: 1rem 2.625rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
color:#2272B4 ;
 }

 #b-right-7:hover{
    scale: 1.05;
 }





.sec-7-img img{
    width: 18rem;
    height: 30rem;
}

.sec-7{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5%;
    margin: auto;
}

.sec-7-con{
    width: 51rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    justify-content: flex-start;
}

.sec-7-con h2{
color:#070B0F;
font-size: 3.5rem;
font-style: normal;
font-weight: 800;
line-height: 120%;
}

.greener{
    color: #72b263;
}

.sec-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 20rem;
}

.sec-left img{
    width: 12rem;
    height: 4rem;
}
.icons{
    display: flex;
    gap: 1.5rem ;
    color: #939597;
}

.sec-left p{
color:#36393C;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem;
}

.footer-content{
    display: flex;
    gap: 4rem;
}

.footer li{
    list-style: none;
}
.footer ul{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.SEC-8{
    display: flex;
    align-items: center;
    gap: 15rem;
    padding: 0 5%;
    margin: 4rem auto;
    width: 100%;

}

.linebr{
    border: 1px solid #EAECF0;
    width: 90%;
    padding: 0 5%;
    margin: auto;
}

.last-right{
    display: flex;
    gap: 3rem;
}

.last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    padding-top: 2rem;
    width: 100%;
}

@media (max-width:1280px){

    .SEC-8{
        margin-top: 14rem;
    }

    .sec-7{
        max-width: 80%;
    }

    .sec-left{
        display: none;
    }

    .sec-6-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
     }
.sec-5-div{
    flex-direction: column;
    height: 60rem;
}

.sec-5-con{
    text-align: center;
}

.header-con{
    max-width: 700px;
}

.header-con h1{
    font-size: 3rem ;

}
.sec-2-box{
    flex-direction: column;
}

.sec-3-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

}



@media (max-width:769px){

.SEC-8{
    display: none;
}

.last{
    flex-direction: column;
    gap: 3rem;
}

    .sec-7{
        flex-direction: column;
    }
  
    .sec-7-con{
        max-width: 20rem;
    }
    .sec-7-con h2{
        font-size: 2rem;
    }
  
  
    .sec-6-2{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
     }
    
    .sec-3-boxes{
        display: grid;
        grid-template-columns: 1fr;
    }


    .sec-5-img img{
        max-width: 100%;
    }
}

@media (max-width:481px){

    .head-button{
        flex-direction: column;
    }

    .sec-7-con{
        max-height: 20rem;
        margin: 5rem;
    }

    .sec-6-con{
        max-width: 20rem;
    }

    .sec-6-con p{
        max-width: 20rem;
    }

    .sec-4{
        align-items: center;
    }


    .sec-4-1 h2{
        font-size: 2rem ;
    }

    .sec-4-1{
        max-width: 20rem;
    }

    .sec-4-3 p{
        max-width: 20rem;
        font-size: 0.75rem;
    }

    .head-button{
        flex-direction: column;
    }

    .sec-3-box{
        max-width: 20rem ;
    }

    .div-top{
        max-width: 20rem;
    }

    .box-sec{
        max-width: 20rem;
    }

    .box-sec p{
        max-width: 20rem;
    }

    .head-button{
        gap: 1rem;
    }

    .box{
        padding: 29.1875rem 1.5625rem 2rem 1.5rem;
    }
}

@media(max-width:350px){
   
   .sec-6-img img{
    max-width: 15rem;
    height: auto;
   }
   .sec-6-img{
    max-width: 18rem;
   }
   .sec-6{
    margin-top: 5rem;
   }
   
   .sec-6-con p{
    max-width: 15rem;
    text-align: center;
   }

   .sec-6-con h5{
    max-width: 15rem;
    text-align: center;
   }
   
    .box{
        padding: 20.1875rem 1.5625rem 2rem 1.5rem;
    }
    
    
    .head-button{
        flex-direction: column;
    }
    .header-con h1{
        font-size: 2rem ;
    
    }
    #b-left{
        max-width: 11.5rem;
        font-size: 0.75rem;
    }

    .sec-3-box{
        max-width: 15rem ;
    }

    .div-top{
        max-width: 15rem;
    }

    .box-sec{
        max-width: 15rem;
        
    }

    .box-sec p{
        max-width: 15rem;
        font-size: 0.75rem;
    }



}